/* Fichier CSS à personnaliser */

/* Fichier CSS à personnaliser */

h1 {
    text-align: center;
    color: white;
  }

#txt1 {
    text-align: center;
  }

body {
    background-color: SlateBlue;
  }

#Louis-Vuitton-logo {
    text-align: center;
  }

h1 {
    text-align: center;
    color: Navy;
  }

#mono {
    text-align: center;
  }

#video {
    text-align: center;
  }

#legende {
    text-align: center;
  }