/* Fichier CSS à personnaliser */

h1 {
    text-align: center;
    color: Sienna;
  }

#txt1 {
    text-align: center;
  }

body {
    background-color: bisque;
  }

#Louis-Vuitton-logo {
    text-align: center;
  }

h1 {
    text-align: center;
    color: Sienna;
  }

#mono {
    text-align: center;
  }

#video {
    text-align: center;
  }

#legende {
    text-align: center;
  }